body {
    background-color: bisque;
    background-image: url('backg.jpg');
    background-size: 1450px;
    background-position: stretch;
    background-repeat: no-repeat;
}
header {
    text-align: center;
    border: 1px black;
    margin: 1px;
}

#headerText {
    color: black;
}
@font-face {
    font-family: rFont;
    src: url('ptf.ttf');
}
main {
    background-color: 
    text-align: left;
}
#title {
    text-align: left;
    padding-left: 100px;
}
#submits {
    border: 1px black;
    padding-left: 10px;
    margin-left: 100px;
    text-align: center;
}
#fName{
    margin-left: 100px;
}
#submitBtn{
    margin-left: 100px;
    cursor: pointer;
    height: 25px;
    width: 205px;
    border: 1px solid black;
    border-radius: 25px;
}
#submitBtn:hover{
    background-color: lightgray;
}
.deleteBtn {
    cursor: pointer;
    text-align: center;
    display: block;
    justify-content: center;
    border: 1px solid black;
    border-radius: 25px;
}
.deleteBtn:hover{
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 25px;
    justify-content: center;
    display: block;
}
#budget {
    float: right;
    padding: 7px;
    padding-top: 1px;
    margin-right: 30px;
    border: 1px solid black;
    border-radius: 25px;
}
.budgetError {
    background-color: red;
    color: white;
    padding: 5px;
    border: 1px solid black;
    margin-right: 1px;
    border-radius: 25px;
}
#remainingBudgetOut {
    float: right;
}
th, td{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    background-color: white;
    /* background-image: url('moneyb.jpg') */
}
input {
    border: 1px solid black;
    width: 200px;
    height: 25px;
    text-align: center;
}
h1 {
    font-family: rFont;
}
h2 {
    font-family: rFont;
    font-size: 30px;
}
#centerthis {
    text-align: center;
}