body {
    background-color: bisque;
}
header {
    text-align: center;
}

#headerText {
    color: black;
}

main {
    background-color: blanchedalmond;
    text-align: left;
}
#title {
    text-align: center;
}
#submits {

}
.errorSubmits {

}
#Employees {
    background-color: gainsboro; 
}
.deleteBtn {
    cursor: pointer;
}
#budget {
    float: right;
}
.budgetError {
    background-color: red;
}
#remainingBudgetOut {
    float: right;
}
